* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #2f2f2f;
    width: 100%;
    font-family: 'Signika Negative', sans-serif;
    font-size: 18px;
}

h1, h2 {
    font-family: 'Lily Script One', cursive;
}

p {
    color: #505050;
}

/* NAVBAR */

nav {
    background-color: #a88dd1;
    padding: 10px 200px;
    display: flex;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
    font-size: 18px;
}

nav a {
    color: #2f2f2f;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: #941c70;
}

.navbar-logo {
    max-width: 60px;
    height: auto;
    font-size: 24px;
}

.navbar-title {
    color: #941c70;
    font-size: 28px;
    font-weight: bold;
    font-family: 'Lily Script One', cursive;
}

.navbar-right {
    justify-content: flex-end;
    gap: 30px;
    margin-left: 20px;
}

.hamburger {
    display: none;
    align-self: center;
    font-size: 24px;
    margin-left: 30px;
}


/* JUMBOTRON */

.jumbotron {
    display: flex;
    padding: 60px 200px;
    background-color: #f8c0dc;
    font-size: 18px;
    align-items: center;
    gap: 40px;
}

.jumbotron h1 {
    font-size: 48px;
    font-weight: bold;
}

.jumbotron button {
    color: white;
    background-color: #941c70;
    font-weight: bold;
    cursor: pointer;
    padding: 8px 30px;
    border-radius: 6px;
    border: 0;
    margin-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

button:hover {
    background-color: #dd2ea8;
    transition: 0.3s;
}

.jumbotron-right img, .card img {
    width: 100%;
    height: auto;
    max-height: 400px;
    border-radius: 6px;
}


/* INFORMATION SECTION */

.info-section {
    text-align: center;
    padding: 30px 200px 90px;
}

.info-section h1 {
    font-size: 36px;
    font-weight: bold;
}

.card-container {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.card {
    padding: 10px;
}


/* QUOTE SECTION */
.quote-section {
    background-color: #d6c8eb;
    padding: 100px 200px;
}

.quote {
    font-size: 36px;
    font-style: italic;
}

.quote-attr {
    text-align: end;
    font-weight: bold;
}


/* CALL TO ACTION SECTION */
.cta-section {
    background-color: #941c70;
    color: white;
    margin: 100px 80px;
    padding: 60px 200px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
}

.cta-section p {
    color: #f8c0dc;
}

.cta-section button {
    color: white;
    background-color: #941c70;
    font-weight: bold;
    cursor: pointer;
    padding: 8px 30px;
    border-radius: 8px;
    border: 2px solid white;
    margin-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


/* MEDIA QUERIES */
@media (max-width: 768px) {
    h1 {
        font-size: 30px;
    }

    p {
        font-size: 14px;
    }
    .navbar-right {
        display: none;
    }

    .hamburger {
        display: inline-block;
    }

    nav {
        padding: 6px 40px;
    }

    .jumbotron {
        padding: 30px 40px;
        flex-direction: column;
    }

    .info-section {
        padding: 30px 20px;
    }

    .card-container {
        flex-direction: column;
    }

    .quote-section {
        padding: 60px 40px;
    }

    .quote {
        font-size: 20px;
    }

    .cta-section {
        margin: 30px;
        padding: 30px;
        flex-direction: column;
    }
}